@use '../sass/_utilities.scss'as *;

.jerry-booking {
    padding: 5rem 2rem;
    // padding-inline: 2rem;
    margin: 5rem auto;
    width: 80%;

    .book-text-head {
        grid-template-columns: 50% 50%;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        h2 {
            margin-bottom: 1rem;
            ;
        }

        .book1 {
            .book-inner {
                gap: 2rem;
                width: 80%;

                div {
                    margin-block: 1rem;
                }

            }
        }
    }
}