@use '../sass/_utilities.scss'as *;

.jerry-booking {
    padding: $margin-l;
    // padding-inline: 2rem;
    margin: 2rem auto;


    .book-text-head {
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        h2 {
            margin-bottom: 1rem;

        }

        .book1 {
            .book-inner {
                gap: 2rem;
                width: 80%;

                div {
                    margin-block: 1rem;
                }

            }
        }

        .book2 {
            flex-grow: 1;
        }
    }
}