@use '../sass/_utilities.scss'as *;

.cat-head-text {
    text-align: center;
}

#category {
    .jerry-cat-sec {
        margin: $margin-l;
        background-image: url('../img/categoryimg.png');
        background-repeat: no-repeat;
        background-position: top right;

        .jerry-cat-card {
            grid-template-columns: repeat(4, 1fr);
            position: relative;
            place-items: center;

            .individual-card {
                text-align: center;
                padding: 2rem;
                margin-top: 2rem;
                background-color: $primary;
                transition: all 0.3s ease;

                img {
                    width: 6rem;
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                    display: block;
                    margin: 2rem auto,
                }
            }
        }
    }
}

.crd1,
.crd2,
.crd3,
.crd4 {
    position: relative;

    a>img {
        position: absolute;
        z-index: -2;
        bottom: -1rem;
        left: -1rem;
        opacity: 0;
        transition: all 0.3s ease;
    }


}

.crd-hover a {
    color: $tertiary;
    padding: 1rem;
    margin: 1rem;
    display: block;
    border-radius: 3.6rem;
    background-color: $primary;
    transition: all 0.1s ease;



    &:hover {
        border-radius: 3.6rem;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
        background-color: $primary;
        transition: all 0.1s ease;

        &>img {
            opacity: 1;
        }
    }
}