/*================ global styles========================*/
@use '../sass/_utilities.scss'as *;

body,
html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    color: hsl(233, 52%, 19%);
    font-family: 'Volkhov', serif;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;

}

h4 {
    font-size: 1.8rem;
}

p {
    font-size: 1.6rem;
}

a,
ul {
    font-size: 1.6rem;
    text-decoration: none;
    list-style: none;
}

/*================ global styles end========================*/