/*================ media query styles========================*/
@use '../sass/_utilities.scss'as *;

/* =========== media screen for landscape tablet=============*/
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2rem;

    }

    h4 {
        font-size: 1.8rem;
    }

    /*================ header =================*/

    .jerry-header-section {
        .jerry-nav-block {
            padding: $nav-bar-m;
        }

        .jerry-hero-area {
            margin: $sec-header-text-m;
        }
    }

    /*================ header end =================*/

    /*================ category section =================*/
    #category {
        .jerry-cat-sec {
            margin: $margin-m;
        }
    }

    /*================ category section =================*/

    /*================ booking section =================*/

    .jerry-booking {
        padding: $margin-m;

        .book-text-head {
            .book1 {
                .book-inner {
                    width: 100%;
                }
            }
        }

    }

    /*================ booking section end =================*/

    /*================ reviews section =================*/
    .jerry-reviews {
        padding: $margin-m;
    }

    /*================ reviews section end =================*/

    /*================ branding section========================*/
    .brand-area {
        padding: $margin-m;
    }

    /*================ branding section end========================*/

    /*================ newsletter section========================*/
    .newsletter-bg {

        padding: $margin-m;

    }

    /*================ newsletter section end========================*/

    /*================ footer section========================*/
    .jerry-footer {
        padding: $margin-m;
    }
}

/* =========== media screen for portrait tablet=============*/
@media only screen and (min-width: 650px) and (max-width: 950px) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2rem;

    }

    h4 {
        font-size: 1.8rem;
    }

    /*================ header =================*/
    .jerry-header-section {
        .jerry-nav-block {
            padding: $nav-bar-m;
        }

        .jerry-hero-area {
            grid-template-columns: 1fr;
            margin: $sec-header-text-m;
            justify-content: center;
            gap: 3rem;
        }
    }

    /*================ header end =================*/
    /*================ category section =================*/
    #category {
        .jerry-cat-sec {
            margin: $margin-m;

            .jerry-cat-card {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    /*================ category section end=================*/

    /*================ top section =================*/
    .jerry-top-sell {
        width: 90%;
    }

    /*================ top section =================*/

    /*================ booking section =================*/

    .jerry-booking {
        padding: $margin-m;

        .book-text-head {
            flex-direction: column;
            gap: 0;

            .book1 {
                .book-inner {
                    width: 100%;
                }
            }
        }

    }

    /*================ booking section end =================*/

    /*================ reviews section =================*/
    .jerry-reviews {
        padding: $margin-m;
        grid-template-columns: 1fr;
        gap: 0;
    }

    /*================ branding section========================*/
    .brand-area {
        padding: 0 7rem;
    }

    /*================ branding section end========================*/

    /*================ newsletter section========================*/
    .newsletter-bg {
        padding: $margin-m;
    }

    .jerry-newsletter {
        .newsletter-inner {
            h2 {
                font-size: 2rem;
            }
        }
    }

    /*================ newsletter section end========================*/

    /*================ footer section========================*/
    .jerry-footer {
        padding: $margin-m;
        justify-content: center;

        .footer-inner {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

/* =========== media screen for mobile=============*/
@media only screen and (min-width: 300px) and (max-width: 640px) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3.2rem;
    }

    h3 {
        font-size: 1.8rem;

    }

    h4 {
        font-size: 1.6rem;
    }

    a {
        font-size: 1.4rem;
    }

    /*================ header =================*/
    .jerry-header-section {
        .jerry-nav-block {
            padding: $nav-bar-s;
        }

        .jerry-hero-area {
            grid-template-columns: 1fr;
            margin: $sec-header-text-s;
            justify-content: center;
            gap: 3rem;

            .jerry-img img {
                max-width: 120%;
            }
        }
    }

    /*================ header end =================*/

    /*================ category section =================*/
    #category {
        .jerry-cat-sec {
            margin: $margin-s;

            .jerry-cat-card {
                grid-template-columns: 1fr;
            }
        }
    }

    /*================ category section end=================*/

    /*================ top section =================*/
    .jerry-top-sell {
        width: 90%;

        .jerry-top-sell-card {
            grid-template-columns: 1fr;
        }
    }

    /*================ top section =================*/

    /*================ booking section =================*/

    .jerry-booking {
        padding: $margin-s;

        .book-text-head {
            flex-direction: column;
            gap: 0;

            .book1 {
                .book-inner {
                    width: 100%;
                }
            }
        }

    }

    /*================ booking section end =================*/

    /*================ reviews section =================*/
    .jerry-reviews {
        padding: $margin-s;
        grid-template-columns: 1fr;
        gap: 0;

        .reviews1 {

            h2,
            p {
                width: 100%;
                margin-bottom: 1rem;
            }

        }

        .reviews2 {
            width: 100%;
            padding: 0;

            .splide-inner {
                margin: 2rem 0;
            }

            .jerry-slide-wrapper {
                padding: 1rem;

                .splider {
                    margin: 0;
                    padding: 1rem;

                    p {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }

    /*================ branding section========================*/
    .brand-area {
        padding: 0 4rem;

        .jerry-brand {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    /*================ branding section end========================*/

    /*================ newsletter section========================*/
    .newsletter-bg {
        padding: 0;
    }

    .jerry-newsletter {
        border-radius: 0;

        .newsletter-inner {
            h2 {
                font-size: 2rem;
                width: 80vw;
            }
        }

        form {
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
            padding: 1rem 1rem;

            input[type="email"] {
                padding: 1rem 1rem;
                background-image: none;
                border-radius: 1rem;
                font-size: 1.6rem;
            }

            input[type="submit"] {
                padding: 1rem 1rem;
                font-size: 1.5rem;

            }
        }

        img:last-child {
            display: none;
        }
    }

    /*================ newsletter section end========================*/

    /*================ footer section========================*/
    .jerry-footer {
        padding: $margin-s;

        padding-left: 10px;

        justify-content: center;

        .footer-inner {
            grid-template-columns: 1fr;
            justify-content: center;
            place-items: center;
            text-align: center;

        }
    }

}