/* ==========desktop=========*/

// colors 
$primary: white;
$secondary:#df6a53;
$btn: hsl(41, 99%, 47%);
$tertiary:hsl(233, 52%, 19%);

// spacing
$margin-l: 5rem 10rem;
$nav-bar-l: 2rem 10rem;
$sec-header-text: 3rem 2rem 7rem 10rem;
$emailParagraph: 3.3rem;

// space tablet Landscape
$margin-m: 5rem 7rem;
$nav-bar-m: 2rem 7rem;
$sec-header-text-m: 3rem 7rem;


// space mobile
$margin-s: 5rem 4rem;
$nav-bar-s: 2rem 4rem;
$sec-header-text-s: 3rem 4rem;


//layouts
.grid {
    display: grid;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}