.splide__container {
  box-sizing: border-box;
  position: relative;
}

.splide__list {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.splide.is-initialized:not(.is-active) .splide__list {
  display: block;
}

.splide__pagination {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  pointer-events: none;
}

.splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto;
}

.splide__progress__bar {
  width: 0;
}

.splide {
  position: relative;
  visibility: hidden;
}

.splide.is-initialized,
.splide.is-rendered {
  visibility: visible;
}

.splide__slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  list-style-type: none !important;
  margin: 0;
  position: relative;
}

.splide__slide img {
  vertical-align: bottom;
}

.splide__spinner {
  animation: splide-loading 1s linear infinite;
  border: 2px solid #999;
  border-left-color: transparent;
  border-radius: 50%;
  bottom: 0;
  contain: strict;
  display: inline-block;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

.splide__sr {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.splide__toggle.is-active .splide__toggle__play,
.splide__toggle__pause {
  display: none;
}

.splide__toggle.is-active .splide__toggle__pause {
  display: inline;
}

.splide__track {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

@keyframes splide-loading {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.splide__track--fade > .splide__list {
  display: block;
}

.splide__track--fade > .splide__list > .splide__slide {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}

.splide__track--fade > .splide__list > .splide__slide.is-active {
  opacity: 1;
  position: relative;
  z-index: 1;
}

.splide--rtl {
  direction: rtl;
}

.splide__track--ttb > .splide__list {
  display: block;
}

.splide__arrow {
  -ms-flex-align: center;
  align-items: center;
  background: #ccc;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2em;
  z-index: 1;
}

.splide__arrow svg {
  fill: #000;
  height: 1.2em;
  width: 1.2em;
}

.splide__arrow:hover:not(:disabled) {
  opacity: 0.9;
}

.splide__arrow:disabled {
  opacity: 0.3;
}

.splide__arrow:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__arrow--prev {
  left: 1em;
}

.splide__arrow--prev svg {
  transform: scaleX(-1);
}

.splide__arrow--next {
  right: 1em;
}

.splide.is-focus-in .splide__arrow:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__pagination {
  bottom: 0.5em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1;
}

.splide__pagination__page {
  background: hsl(41deg, 99%, 47%);
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 3px;
  opacity: 0.7;
  padding: 0;
  position: relative;
  transition: transform 0.2s linear;
  width: 8px;
}

.splide__pagination__page.is-active {
  background: #fff;
  transform: scale(1.4);
  z-index: 1;
}

.splide__pagination__page:hover {
  cursor: pointer;
  opacity: 0.9;
}

.splide__pagination__page:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide.is-focus-in .splide__pagination__page:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__progress__bar {
  background: #ccc;
  height: 3px;
}

.splide__slide {
  -webkit-tap-highlight-color: transparent;
}

.splide__slide:focus {
  outline: 0;
}

@supports (outline-offset: -3px) {
  .splide__slide:focus-visible {
    outline: 3px solid #0bf;
    outline-offset: -3px;
  }
}
@media screen and (-ms-high-contrast: none) {
  .splide__slide:focus-visible {
    border: 3px solid #0bf;
  }
}
@supports (outline-offset: -3px) {
  .splide.is-focus-in .splide__slide:focus {
    outline: 3px solid #0bf;
    outline-offset: -3px;
  }
}
@media screen and (-ms-high-contrast: none) {
  .splide.is-focus-in .splide__slide:focus {
    border: 3px solid #0bf;
  }

  .splide.is-focus-in .splide__track > .splide__list > .splide__slide:focus {
    border-color: #0bf;
  }
}
.splide__toggle {
  cursor: pointer;
}

.splide__toggle:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide.is-focus-in .splide__toggle:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__track--nav > .splide__list > .splide__slide {
  border: 3px solid transparent;
  cursor: pointer;
}

.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: 3px solid #000;
}

.splide__arrows--rtl .splide__arrow--prev {
  left: auto;
  right: 1em;
}

.splide__arrows--rtl .splide__arrow--prev svg {
  transform: scaleX(1);
}

.splide__arrows--rtl .splide__arrow--next {
  left: 1em;
  right: auto;
}

.splide__arrows--rtl .splide__arrow--next svg {
  transform: scaleX(-1);
}

.splide__arrows--ttb .splide__arrow {
  left: 50%;
  transform: translate(-50%);
}

.splide__arrows--ttb .splide__arrow--prev {
  top: 1em;
}

.splide__arrows--ttb .splide__arrow--prev svg {
  transform: rotate(-90deg);
}

.splide__arrows--ttb .splide__arrow--next {
  bottom: 1em;
  top: auto;
}

.splide__arrows--ttb .splide__arrow--next svg {
  transform: rotate(90deg);
}

.splide__pagination--ttb {
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  left: auto;
  padding: 1em 0;
  right: 0.5em;
  top: 0;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ==========desktop=========*/
.grid {
  display: grid;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

/*================ global styles========================*/
body,
html {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  color: hsl(233deg, 52%, 19%);
  font-family: "Volkhov", serif;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
}

a,
ul {
  font-size: 1.6rem;
  text-decoration: none;
  list-style: none;
}

/*================ global styles end========================*/
.jerry-header-section {
  background-image: url("../img/hero-bg.png"), url("../img/herobg2.png");
  background-size: cover cover, cover cover;
  background-repeat: no-repeat;
  background-position: top right, top left;
}
.jerry-header-section .jerry-nav-block {
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem;
}
.jerry-header-section .jerry-nav-block .jerry-nav-menu ul li {
  padding-inline: 2rem;
}
.jerry-header-section .jerry-nav-block .jerry-nav-menu ul .signup {
  border-radius: 0.5rem;
  border: 1px solid hsl(233deg, 52%, 19%);
}
.jerry-header-section .jerry-hero-area {
  margin: 3rem 2rem 7rem 10rem;
  grid-template-columns: 45% 55%;
  align-items: center;
}
.jerry-header-section .jerry-hero-area .jerry-hero-text h1 {
  margin-block: 1rem;
  background-image: url("../img/h1img.png");
  background-size: cover cover;
  background-repeat: no-repeat;
  background-position: right 30%;
}
.jerry-header-section .jerry-hero-area .jerry-hero-text p {
  margin-block: 1rem 3rem;
}
.jerry-header-section .jerry-hero-area .jerry-hero-text .btn-header {
  gap: 2rem;
  align-items: center;
}
.jerry-header-section .jerry-hero-area .jerry-hero-text .btn-header .btn1 {
  padding: 1rem 1.5rem;
  color: white;
  background-color: hsl(41deg, 99%, 47%);
  border-radius: 1rem;
  box-shadow: 0px 0px 15px 3px #DF6A53;
}
.jerry-header-section .jerry-hero-area .jerry-hero-text .btn-header .btn1 a {
  color: white;
}
.jerry-header-section .jerry-hero-area .jerry-hero-text .btn-header .btn2 {
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.jerry-header-section .jerry-hero-area .jerry-hero-text .btn-header .btn2 div:nth-child(1) {
  background-color: #df6a53;
  height: 4rem;
  box-shadow: 0px 0px 25px 3px #DF6A53;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.jerry-header-section .jerry-hero-area .jerry-hero-text .btn-header .btn2 div:nth-child(1) a {
  display: block;
  position: relative;
  transform: translate(40%, 40%);
  color: white;
}

.cat-head-text {
  text-align: center;
}

#category .jerry-cat-sec {
  margin: 5rem 10rem;
  background-image: url("../img/categoryimg.png");
  background-repeat: no-repeat;
  background-position: top right;
}
#category .jerry-cat-sec .jerry-cat-card {
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  place-items: center;
}
#category .jerry-cat-sec .jerry-cat-card .individual-card {
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;
  background-color: white;
  transition: all 0.3s ease;
}
#category .jerry-cat-sec .jerry-cat-card .individual-card img {
  width: 6rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
  margin: 2rem auto;
}

.crd1,
.crd2,
.crd3,
.crd4 {
  position: relative;
}
.crd1 a > img,
.crd2 a > img,
.crd3 a > img,
.crd4 a > img {
  position: absolute;
  z-index: -2;
  bottom: -1rem;
  left: -1rem;
  opacity: 0;
  transition: all 0.3s ease;
}

.crd-hover a {
  color: hsl(233deg, 52%, 19%);
  padding: 1rem;
  margin: 1rem;
  display: block;
  border-radius: 3.6rem;
  background-color: white;
  transition: all 0.1s ease;
}
.crd-hover a:hover {
  border-radius: 3.6rem;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  background-color: white;
  transition: all 0.1s ease;
}
.crd-hover a:hover > img {
  opacity: 1;
}

/*================ top selling section========================*/
.jerry-top-sell {
  padding: 5rem 2rem 2rem 2rem;
  margin: 5rem auto;
  width: 80%;
}
.jerry-top-sell .jerry-top-sell-card {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  place-items: center;
  margin-top: 5rem;
}
.jerry-top-sell .jerry-top-sell-card a {
  color: hsl(233deg, 52%, 19%);
}
.jerry-top-sell .jerry-top-sell-card a .selling-card {
  max-width: 30rem;
  border-radius: 2.4rem;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  background-color: white;
  transition: all 0.1s ease;
}
.jerry-top-sell .jerry-top-sell-card a .selling-card:hover {
  background-color: #df6a53;
  color: white;
}
.jerry-top-sell .jerry-top-sell-card a .selling-card:hover h4 {
  color: white;
}
.jerry-top-sell .jerry-top-sell-card a .selling-card:hover img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.jerry-top-sell .jerry-top-sell-card a .selling-card > img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-top-right-radius: 2.4rem;
  border-top-left-radius: 2.4rem;
}
.jerry-top-sell .jerry-top-sell-card a .selling-card .sell-country {
  margin: 1.5rem;
  justify-content: space-between;
}
.jerry-top-sell .jerry-top-sell-card a .selling-card .sell {
  align-items: center;
  padding: 1rem 1.5rem 2rem 1.5rem;
}
.jerry-top-sell .jerry-top-sell-card a .selling-card .sell p {
  padding-left: 1rem;
}

/*================ top selling section end========================*/
.jerry-booking {
  padding: 5rem 2rem;
  margin: 5rem auto;
  width: 80%;
}
.jerry-booking .book-text-head {
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.jerry-booking .book-text-head h2 {
  margin-bottom: 1rem;
}
.jerry-booking .book-text-head .book1 .book-inner {
  gap: 2rem;
  width: 80%;
}
.jerry-booking .book-text-head .book1 .book-inner div {
  margin-block: 1rem;
}

/*================ reviews section========================*/
.jerry-reviews {
  padding: 2rem 2rem;
  margin: 5rem auto;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.jerry-reviews .reviews2 {
  margin-top: 4rem;
  padding: 2rem;
}
.jerry-reviews .reviews2 .jerry-slide .jerry-slide-wrapper {
  padding: 2rem;
}
.jerry-reviews .reviews2 .jerry-slide .jerry-slide-wrapper img {
  width: 5rem;
  position: relative;
  left: -3rem;
  top: -2rem;
}
.jerry-reviews .reviews2 .jerry-slide .jerry-slide-wrapper .splider {
  margin: 0 2rem 2rem 2rem;
  padding: 2rem;
  border-radius: 2.4rem;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  background-color: white;
}
.jerry-reviews .reviews2 .jerry-slide .jerry-slide-wrapper .splider h4 {
  padding-block: 1rem;
}

#splide01 > div.splide__arrows.splide__arrows--ttb > button.splide__arrow.splide__arrow--next,
#splide01 > div.splide__arrows.splide__arrows--ttb > button.splide__arrow.splide__arrow--prev {
  display: none;
}

/*================ reviews section end========================*/
/*================ branding section========================*/
.brand-area {
  padding: 2rem 2rem;
  margin: 5rem;
}
.brand-area .jerry-brand {
  justify-content: space-between;
  padding-block: 1rem;
}
.brand-area .jerry-brand img {
  width: 17rem;
  object-fit: contain;
  padding: 1rem;
}
.brand-area .jerry-brand img:hover {
  border-radius: 2.4rem;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  background-color: white;
  transition: all 0.1s ease;
  cursor: pointer;
}

/*================ branding section end========================*/
/*================ newsletter section========================*/
.newsletter-bg {
  background-image: url("../img/newsletter3.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-bottom: 2rem;
  background-size: 15rem;
}

.jerry-newsletter {
  background-image: url("../img/newsletter1.png"), url("../img/newsletter2.png");
  background-repeat: no-repeat;
  background-position: bottom left, top right;
  background-size: contain;
  background-color: #DFD7F9;
  max-width: 80%;
  border-radius: 12.9rem 2rem 2rem 2rem;
  padding: 3rem 2rem;
  display: grid;
  place-items: center;
  margin: 5rem auto;
  position: relative;
}
.jerry-newsletter .newsletter-inner h2 {
  text-align: center;
  display: grid;
  place-items: center;
  width: 60vw;
  font-size: 3rem;
  margin-block: 2rem;
}
.jerry-newsletter form {
  gap: 1rem;
  align-items: center;
  margin-block: 1rem 3rem;
}
.jerry-newsletter form input[type=email] {
  border: none;
  outline: none;
  padding: 1rem 5rem;
  background-image: url("../img/input-icon.svg");
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: 1rem center;
  background-color: white;
  border-radius: 1rem;
  font-size: 1.6rem;
}
.jerry-newsletter form input[type=submit] {
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  background-color: #df6a53;
  color: white;
  font-size: 1.6rem;
}
.jerry-newsletter img:last-child {
  position: absolute;
  top: 0;
  right: -2rem;
  transform: translateY(-1rem);
  width: 5rem;
}

/*================ footer section========================*/
.jerry-footer {
  padding: 3rem 2rem;
  margin: 5rem;
}
.jerry-footer a {
  color: hsl(233deg, 52%, 19%);
}
.jerry-footer a:hover {
  color: #df6a53;
  transition: all 0.3s ease;
}
.jerry-footer .footer-inner {
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 1rem;
}
.jerry-footer .footer-inner p {
  padding-bottom: 1rem;
}
.jerry-footer .footer-inner li {
  padding-block: 0.5rem;
}
.jerry-footer .footer-inner .foot-list5 ul div {
  align-items: center;
}
.jerry-footer .footer-inner .foot-list5 ul div img {
  width: 5rem;
  object-fit: cover;
}
.jerry-footer .footer-inner .foot-list5 ul div img:hover {
  filter: grayscale(1);
}
.jerry-footer .footer-inner .foot-list5 ul .app {
  gap: 1rem;
  width: 7rem;
  object-fit: contain;
  padding-bottom: 1rem;
}
.jerry-footer .footer-inner .foot-list5 ul .app:hover {
  filter: grayscale(1);
}

.copyright {
  text-align: center;
  padding-bottom: 3rem;
}
